<!--
Name: Himanshu
Student ID: 100898751
File Name:  blogPage.html
Folder Name: Assignment-1
Date Created: 24-01-24
Description: This page shows the articles etc. related to  harmony hub
-->




<div class="container mt-5">

    <div class="container m-2 p-3 text-center" style="background-color: #f2f2f2; border-radius: 10px">
        <h2><b>Latest Articles</b></h2>
    </div>
    <br>

    <!-- Blog Post 1 -->
    <div class="card mb-4">
        <img src="./images/center_2.jpg" class="card-img-top" alt="Community Center Event">
        <div class="card-body">
            <h5 class="card-title">Community Event: Fall Festival</h5>
            <p class="card-text">Join us for an exciting Fall Festival at Harmony Hub Community Center. We'll have games, food, and live entertainment for the whole family. Don't miss out on the fun!</p>
            <a href="" class="btn btn-primary">Read More</a>
        </div>
    </div>


    <!-- Blog Post 2 -->
    <div class="card mb-4">
        <img src="../content/images/center_4.jpg" class="card-img-top" alt="Volunteer Spotlight">
        <div class="card-body">
            <h5 class="card-title">Volunteer Spotlight: Making a Difference</h5>
            <p class="card-text">In this blog post, we shine a spotlight on one of our dedicated volunteers who has been making a significant impact in the community. Learn more about their journey and contributions.</p>
            <a href="" class="btn btn-primary">Read More</a>
        </div>
    </div>
    <!-- Blog Post 3 -->
    <div class="card mb-4">
        <img src="../views/content/images/center_2.jpg" class="card-img-top" alt="Community Center Event">
        <div class="card-body">
            <h5 class="card-title">Community Event: Fall Festival</h5>
            <p class="card-text">Join us for an exciting Fall Festival at Harmony Hub Community Center. We'll have games, food, and live entertainment for the whole family. Don't miss out on the fun!</p>
            <a href="" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <!-- Blog Post 4 -->
    <div class="card mb-4">
        <img src="../content/images/center_5.jpg" class="card-img-top" alt="Volunteer Spotlight">
        <div class="card-body">
            <h5 class="card-title">Volunteer Spotlight: Making a Difference</h5>
            <p class="card-text">In this blog post, we shine a spotlight on one of our dedicated volunteers who has been making a significant impact in the community. Learn more about their journey and contributions.</p>
            <a href="" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
