
<br>
<br>
<div class="container w-75" style="border: 1px solid black; background-color:  #f2f2f2; border-radius: 15px; padding: 2vh 5vh 2vh 10vh; width: 450px ">
    <h1 style="color: blue"><b><i>Contact Us</i></b></h1>
<!--    Self Submitting Form !-->
    <form method="post" id="ContactForm">
        <div class="form-group col-md-11">
            <label for="firstName"><i><b>First Name</b></i></label>
            <input type="text"  name="firstName" class="form-control" id="firstName" placeholder="Enter you First Name here:" required>
        </div>
        <div class="form-group col-md-11">
            <label for="lastName"><i><b>Last Name</b></i></label>
            <input type="text"  name="lastName" class="form-control" id="lastName" placeholder="Enter you Last Name here:" required>
        </div>
        <div class="form-group col-md-11">
            <label for="email"><i><b>Email</b></i></label>
            <input type="email"  name="email" class="form-control" id="email" placeholder="Enter your Email here:" required>
        </div>
        <div class="form-group col-md-11">
            <label for="contactSubject"><i><b>Subject:</b></i></label>
            <input  class="form-control" name="subject" id="contactSubject" placeholder="Enter your reason of Contacting Us:" required>
        </div>
        <div class="form-group col-md-11">
            <label for="message"><i><b>Message for Us:</b></i></label>
            <textarea  class="form-control" id="message" name="message" placeholder="Enter your reason of Contacting Us:" required></textarea>
        </div>

        <div class="form-group col-md-11">
            <label for="inputAddress"><i><b>Address</b></i></label>
            <textarea class="form-control" name="address" id="inputAddress" placeholder="1234 Main St" required></textarea>
        </div>
        <div class="form-group col-md-11">
            <label for="city"><i><b>City: </b></i></label>
            <input type="text" class="form-control" id="city" name="city" required>
        </div>
        <div class="form-group col-md-11">
            <label for="zip"><i><b>Zip</b></i></label>
            <input type="text" class="form-control" id="zip"  required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" style="width: 90px;" id="submitButton">Submit</button>
&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-warning" style="width: 90px;">Cancel</button>

    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="thanksMessage" tabindex="-1" role="dialog" aria-labelledby="thankYouTitle" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="thankYouTitle">Thanks</h5>
            </div>
            <div class="modal-body" id="thanksBody">
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="errorTitle" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorTitle">Warning</h5>
            </div>
            <div class="modal-body" id="errorBody">
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>



