<!--
Name: Himanshu
Student ID: 100898751
File Name:  blogPage.html
Folder Name: Assignment-1
Date Created: 24-01-24
Description: This page shows the articles etc. related to  harmony hub
-->

<div class="container mt-5">

    <div class="container w-75 p-5 mt-5 h-100" id="projectContainer">
        <div class="container m-2 p-3 text-center" style="background-color: #f2f2f2; border-radius: 10px">
            <h2><b>Explore Events in your area</b></h2>
        </div>

        <table class="table table-borderless" id="eventsTable" >
            <thead>
            <tr>
                <th>
                    <ul>
                        <li> <a>Events in Oshawa</a></li>
                        <li> <a>Events in Whitby</a></li>
                        <li> <a>Events in Ajax</a></li>
                    </ul>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>

            </tr>
            <tr>

            </tr>
            </tbody>
        </table>

        <button id="loadEvents" class="btn btn-primary w-25" style="float: right">See More Events</button>

    </div>

</div>
