
<section>
    <div class="leftBox">
        <div id="proposeEventContainer" class="form-control" style="">
            <!--This container for displaying the error messages !-->
            <div id="messageArea"></div>
            <form  method="post">
                <div class="form-group col-md-11">
                    <label for="eventName_propose"><i><b>Event Name</b></i></label>
                    <input type="text"  name="eventName_propose" class="form-control" id="eventName_propose" placeholder="Enter you event name here:" required>
                </div>
                <div class="form-group col-md-11">
                    <label for="eventDate_propose"><i><b>Date</b></i></label>
                    <input type="text"  name="eventDate_propose" class="form-control" id="eventDate_propose" placeholder="Enter your event date here: 15 March" required>
                </div>
                <div class="form-group col-md-11">
                    <label for="eventDescription_propose"><i><b>Event Description</b></i></label>
                    <input class="form-control" name="eventDescription_propose" id="eventDescription_propose" placeholder="1234 Main St" required></input>
                </div>
                <div class="form-group col-md-11">
                    <label for="eventAddress_propose"><i><b>Event Address</b></i></label>
                    <input type="text" class="form-control" id="eventAddress_propose" name="eventAddress_propose" required/>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="proposeButton" >Propose Event</button>
                &nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-warning">Reset</button>
            </form>
        </div>
        <div class="content">
            <h1>
                Marked Events
            </h1>
            <div class="markedEvents">
                <ul>

                </ul>
            </div>


        </div>
    </div>
    <div class="events">
        <ul>
        </ul>
    </div>
</section>

<!--    An Modal-->
<div class="modal fade" id="eventDetails" tabindex="-1" role="dialog" aria-labelledby="signTactic" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="event_info">Event Name</h5>
            </div>
            <div class="modal-body" id="eventDetailContainer">
                <p id="eventDate"></p>
                <p id="eventAddress"></p>
                <p id="eventDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>