<!--
Name: Himanshu
Student ID: 100898751
File Name:  portfolio.html
Folder Name: Assignment-1
Date Created: 24-01-24
Description: This is shows the project of harmony hub
-->


<div class="container w-75 p-5 mt-5 h-100" id="projectContainer">
    <div class="container m-2 p-3 text-center" style="background-color: #f2f2f2; border-radius: 10px">
        <h2><b>Welcome to the Portfolio Page.</b></h2>
        <h5>Here you can discover the projects in which hub being involved.</h5>
    </div>

    <table class="table table-borderless" id="projectTable" >
        <tbody>
         <tr>
             <td>
                <div class="card mt-5" style="width: 18rem;">
                    <img src="../content/images/center_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Digital Literacy Program</h5>
                        <p class="card-text"> project aimed at empowering community members with digital skills. <br> Classes and workshops on basic computer usage, internet safety, and essential software applications.</p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
             </td>
             <td>
                <div class="card m-5 h-100" style="width: 18rem;">
                <img src="../content/images/center_5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Community Garden Initiative</h5>
                    <p class="card-text">Establish and maintain a communal garden space where residents can come together to grow organic produce, <br>
                        learn about sustainable farming practices, and participate in gardening workshops.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
             </td>
            <td>
                    <div class="card m-5" style="width: 18rem;" id="target">
                        <img src="../content/images/center_6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Art and Craft Workshops</h5>
                        <p class="card-text">Regular art and craft sessions for individuals of all ages. Activities include painting, pottery, and DIY crafts to foster creativity and provide a platform for artistic expression</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
             </td>
        </tr>
        </tbody>
    </table>

    <button id="loadPortfolio" class="btn btn-primary w-25" style="float: right">Load More</button>

</div>
