
<!-- Main Content -->
<main class="container" id="mainContent">
    <br>
    <br>
    <div class="container w-75" style="border: 1px solid black; background-color:  #f2f2f2; border-radius: 15px; padding: 2vh 5vh 2vh 10vh; width: 450px ">
        <h1><b><i>Register</i></b></h1>
        <hr>
        <br>
        <!--This container for displaying the error messages !-->
        <div id="messageArea"></div>
        <!-- No "action" because we are handling the submit event programmatically-->
        <form  method="post" id="ContactForm">
            <div class="form-group col-md-11">
                <label for="firstName_register"><i><b>First Name</b></i></label>
                <input type="text"  name="firstName_register" class="form-control" id="firstName_register" placeholder="Enter you First Name here:" required>
            </div>
            <div class="form-group col-md-11">
                <label for="lastName_register"><i><b>Last Name</b></i></label>
                <input type="text"  name="lastName_register" class="form-control" id="lastName_register" placeholder="Enter you Last Name here:" required>
            </div>
            <div class="form-group col-md-11">
                <label for="email_register"><i><b>Email</b></i></label>
                <input type="email"  name="email_register" class="form-control" id="email_register" placeholder="Enter your Email here:" required>
            </div>
            <div class="form-group col-md-11">
                <label for="phone_register"><i><b>Phone</b></i></label>
                <input type="text"  name="phone_register" class="form-control" id="phone_register" placeholder="Enter your Phone here:" required>
            </div>
            <div class="form-group col-md-11">
                <label for="password_register"><i><b>Password</b></i></label>
                <input type="password"  name="password_register" class="form-control" id="password_register" placeholder="Enter your Password here:" required>
            </div>
            <div class="form-group col-md-11">
                <label for="address_register"><i><b>Address</b></i></label>
                <textarea class="form-control" name="address_register" id="address_register" placeholder="1234 Main St" required></textarea>
            </div>
            <div class="form-group col-md-11">
                <label for="city_register"><i><b>City: </b></i></label>
                <input type="text" class="form-control" id="city_register" name="city_register" required/>
            </div>
            <div class="form-group col-md-11">
                <label for="zip_register"><i><b>Zip</b></i></label>
                <input type="text" class="form-control" id="zip_register" name="zip_register"  required/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="width:auto;" id="registerButton" data-toggle="modal" data-target="#exampleModalCenter">Regsiter for Harmony Hub</button>
            &nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-warning" style="width: 90px;">Cancel</button>

        </form>
    </div>



</main>

<!--A Small Modal for Showing the welcome message ! -->
<div class="modal fade bd-example-modal-sm" id="registerModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" style="background-color: transparent">
    <div class="modal-dialog modal-sm" style="
      background-color: white;
      border-radius: 5px;
      padding: 0px 3px;
      ">
        <div class="modal-content-welcome" style="width: 296px;">
            <h3 id="modalHeading">Welcome to Harmony Hub</h3>
            <h3 id="modalContent"><b>Nameeeee</b></h3>
            <br>
            <br>
            <h6>Redirecting to Login Page.......
            Please use your registered email.</h6>
        </div>
    </div>
</div>

