<!--
Name: Himanshu
Student ID: 100898751
File Name:  services.html
Folder Name: Assignment-1
Date Created: 24-01-24
Description: This is page shows the services offered by the harmony hub in interactive way
-->

<div class="container mt-5">
    <div class="container m-2 p-3 text-center" style="background-color: #f2f2f2; border-radius: 10px">
        <h2><b>Community Center Services</b></h2>
    </div>
    <br>
    <br>
    <!--  tab  -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Community WorkShops
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><div class="card">
                    <img class="card-img-bottom" src="../../images/center_6.jpg" alt="Card image cap" >
                    <div class="card-body">
                        <h5 class="card-title">Community WorkShops</h5>
                        <p>Harmony Hub is committed to fostering a sense of community and personal growth. Our Community Workshops offer a diverse range of interactive sessions and skill-building activities designed to enrich your life and connect you with like-minded individuals.</p>

                        <p>Join us for engaging workshops covering topics such as personal development, mindfulness, and creative expression. Led by experienced facilitators, these sessions provide a platform for learning, sharing, and building lasting connections within our community.</p>

                        <p>Whether you're interested in honing a new skill, exploring a hobby, or simply connecting with others who share your passions, our Community Workshops provide a welcoming space for personal and collective growth. Check our schedule regularly for upcoming workshops and immerse yourself in the vibrant tapestry of Harmony Hub's community offerings.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Artistic Expression Classes
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><div class="card mb-3">
                    <img class="card-img-top" src="../../images/center_5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Artistic Expression Classes</h5>
                        <p class="card-text"><p>Unleash your creativity and discover the joy of artistic expression at Harmony Hub's Artistic Expression Classes. Designed for individuals of all skill levels, these classes provide a nurturing environment where you can explore various art forms and ignite your passion for creativity.</p>

                        <p>Join our skilled and inspiring instructors in a variety of art disciplines, including painting, drawing, pottery, and more. Whether you're a beginner looking to develop your artistic skills or an experienced artist seeking new inspiration, our classes cater to diverse interests and abilities.</p>

                        <p>Experience the therapeutic benefits of art as you immerse yourself in the creative process. Our spacious and well-equipped art studio is the perfect setting to unleash your imagination and express yourself through colors, shapes, and textures.</p>

                        <p>Harmony Hub's Artistic Expression Classes also provide a unique opportunity to connect with fellow art enthusiasts, fostering a supportive community of individuals passionate about the arts. Explore your artistic potential, build confidence, and create beautiful works of art that reflect your unique perspective.</p>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Yoga Classes
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="card mb-3">
                        <img class="card-img-top" src="../../images/yoga.jpg" alt="Card image cap" style="height: 600px">
                        <div class="card-body">
                            <h5 class="card-title w-25 h-25">Yoga Classes</h5>
                            <p class="card-text"><p>Harmony Hub invites you to embark on a journey of self-discovery and well-being through our rejuvenating Yoga sessions. Immerse yourself in the ancient practice that harmonizes the body, mind, and spirit, promoting holistic health and inner balance.</p>

                            <p>Our experienced and certified yoga instructors create a serene and inclusive environment suitable for practitioners of all levels. Whether you are a beginner or an advanced yogi, our classes focus on mindful movements, breath control, and meditation, fostering a sense of tranquility and mindfulness.</p>

                            <p>Join us in our dedicated yoga space, equipped with soothing ambiance and essential props. Cultivate flexibility, strength, and mental clarity as you embrace the transformative power of yoga. Discover the numerous physical and mental benefits that come with a consistent yoga practice, including stress reduction, improved posture, and increased energy levels.</p>

                            <p>Experience the unity of mind, body, and spirit as you participate in our diverse range of yoga classes, from Hatha and Vinyasa to Restorative and Meditation sessions. Take a step towards a healthier, more balanced lifestyle with Harmony Hub's Yoga Service.</p></p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div></div>
            </div>
        </div>
    </div>

    <br>

</div>
