<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" data="home"><i class="fa-solid fa-people-group"></i> Harmony Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="navLinks">
                <li class="nav-item">
                    <a class="nav-link"  data="home"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="portfolio"><i class="fa-solid fa-folder"></i> Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="services"><i class="fa-solid fa-bars"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="team"><i class="fa-solid fa-users"></i> Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data="blogs"><i class="fa-solid fa-blog"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data="gallery"><i class="fa-solid fa-image"></i> Gallery</a>
                </li>

            </ul>
            <!-- This is for Search Bar Use-->
            <ul id="leftNav" class="navbar-nav ms-auto mb-2 mb-lg-0" >
                <li class="nav-item">
                    <div class = "dropdown">
                        <input class="form-control mr-sm-2" name="userSearch"
                           type="search" placeholder= "Search..." aria-label="Search" id="searchText">
    <!--                    This will show the founded results-->
                        <div class="dropdown-content">
                            <ul id="results-box">
                            </ul>
                        </div>
                    </div>
                </li>
                &nbsp;
                <li class="nav-item" id="loginNav">
                    <a class="nav-link"  data="login"><i class="fa-solid fa-user"></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

